@font-face {
    font-family: Lobster;
    src: url('./assets/Lobster/Lobster-Regular.ttf');
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
  
    font-family: 'Lobster', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width:100%;
    overflow: hidden;
    position:relative;
}

body:before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background:url(./assets/kite-1209241_1920.jpg) center 100%/cover;
    z-index:1;
    filter: grayscale(90%) blur(3px);
}

table{
    border-collapse: collapse;
    z-index:2;
}

td{
    border:6px solid rgba(255, 0, 0, 0.4);
    height:150px;
    width: 150px;
    font-family: Lobster;
    cursor:pointer;
    box-shadow: -1px 3px 13px 5px gray;;
}

table tr:first-child td{
    border-top:0;
    box-shadow: none;
}

table tr:last-child td{
    border-bottom:0;
    box-shadow: none;
}

table tr td:first-child{
    border-left:0;
    box-shadow: none;
}

table tr td:last-child{
    border-right:0;
    box-shadow: none;
}

.results{
    width:200px;
    height:200px;
    background:rgba(252, 120, 120, 0.6);
    position:absolute;
    left:50%;
    transform:translateX(-70%);
    text-align: center;
    border-radius: 6px;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

button{
    position:absolute;
    top:80%;
    z-index: 4;
    height:70px;
    width: 120px;
    border:3px solid #333;
    box-shadow: -1px 3px 13px 5px gray;
    background:transparent;
    cursor: pointer;
    border-radius: 4px;
    font-family: inherit;
    font-size:1.2rem;
}

button:hover{
    border-color:white;
    box-shadow: inset 2px 2px 40px red;
    transition:0.2s ease-out;
    transform:translateX(6px);
}

button:active{
    transform:translateY(20px)
}

@media screen and (max-width: 600px){
    td{
        height: 100px;
        width: 100px;
    }
}